*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('Chevron.jpg');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
    font-size:1rem;
}

a:hover{
    color:orange;
}
/*Header*/
header{
    position:relative;
    padding: 0 2rem;
}
.navbar {
    width:100%;
    height:60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display:flex;
    gap:2rem;
}

.navbar .toggle_btn {
    color:#fff;
    font-size:1.5rem;
    cursor:pointer;
    display:none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .navbar .toggle_btn:hover .dropdown-content {display: block;}
  
 
section#hero{
    height:calc(100vh - 10px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 20px;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.dropdown_menu li {
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}
/*Responsive*/
@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn {
        display:none;
    }

    .navbar .toggle_btn {
        display:block;   
    }

    .dropdown_menu{
        display: block;
    } 
}

.footer{
    background-repeat: no-repeat;
    background-color: white;
    color:grey;
    font-size: var(--fs-5);
}

.footer-top {
    display:grid;
    gap:30px;
}

.footer-brand-text {
    margin-block:20px;
}

.footer-brand .wrapper {
    display:flex;
    gap:5px;
}

.footer-brand .wrapper .span {
    font-weight: var(--fs-500);
}

.footer-link {
    transition: var(--transition-1);
}

.footer-link:is(:hover, :focus){
    color: var(--kappel);
}

.footer-list-title {
    color: var(--white);
    font-family: var(--ff-league_spartan);
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
    margin-block-end: 10px;
}

.footer-list .footer-link {
    padding-block: 5px;
}

.newsletter-form {
    margin-block: 20px 35px;
}

.newsletter-form .input-field {
    background-color: var(--white);
    padding:12px;
    border-radius: var(--radius-5);
    margin-block-end: 20px;
}

.newsletter-form .btn {
    min-width: 10%;
    justify-content: center;
}

.social-list {
    display: flex;
    gap:25px;
}

.social-link { font-size:20px;}

.footer-bottom {
    border-block-start: 1px solid var(--eerie-black-1);
    padding-block:30px;
}

.copyright {
    text-align:center;
}

.copyright-link {
    color: var(--kappel);
    display: inline-block;

}